UI_Base {

  .hud-base {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .center {
    justify-content: center;
    //background-color: #ff0000;
  }
  .left {
    //background-color: #ff0000;
    align-items: flex-start;
  }
  .bottom {
    background-color: #ff0000;
  }

  //top and bottom half containers
  .hud-half {
    width: 100%;
    height: 50%;
    justify-content: center;
  }

  //containers within containers
  .hud-third {
    width: 100%;
    height: 100%;
  }

  //timer elements
  .hud-time-layout-container {
    width: 300px;
    height: 0px;
    //background-color: #ff0000;
    position: relative;
    transform: scale(0.6);
  }
  .hud-time-layout {
    width: 300px;
    height: 315px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    //background-color: #000000;
    //align-self: start;

  }
  .hud-time-buffer {
    height: 60px;
  }
  .hud-time-toptext {
    width: 100%;
    font-size: 60px;
    color: white;
    text-stroke: 0.5px black;
    text-align: center;
    bottom: 60px;
    font-family: Poppins;
    font-weight: semibold;
    letter-spacing: -3px;
    text-shadow: 8px 8px #000000;
  }
  .hud-time-base {
    width: 300px;
    height: 255px;
    background-color: #009af2;
    border-radius: 30px;
    //margin-top: 60px;
    display: flex;
    flex-direction: column;
  }
  .hud-time-bigtime {
    width: 100%;
    font-size: 216px;
    color: white;
    text-stroke: 0.5px black;
    text-align: center;
    bottom: 110px;
    font-family: Poppins;
    font-weight: semibold;
    letter-spacing: -9px;
    text-shadow: 8px 8px #000000;
  }
  .hud-time-smalltime {
    width: 100%;
    font-size: 60px;
    color: white;
    text-stroke: 0.5px black;
    text-align: center;
    bottom: 40px;
    font-family: Poppins;
    font-weight: semibold;
    letter-spacing: -3px;
    text-shadow: 8px 8px #000000;
  }

  //score elements
  .hud-score-layout {
    width: 0px;
    height: 0px;
    //justify-content: flex-start;
    //display: flex;
    //flex-direction: column;
    transform: scale(0.6);
  }
  .hud-score-justbox {
    height: 200px;
    width: 442px;
    position: absolute;
    //background-color: #000000;
  }
  .hud-score-toptext {
    width: 100%;
    font-size: 90px;
    color: white;
    text-stroke: 0.5px black;
    text-align: left;
    //left: 60px;
    //top: 20px;
    font-family: Poppins;
    font-weight: semibold;
    letter-spacing: -3px;
    text-shadow: 8px 8px #000000;
    position: absolute;
    left: 40px;
  }
  .hud-score-displaytext {
    width: 100%;
    font-size: 90px;
    color: white;
    text-stroke: 0.5px black;
    text-align: right;
    //bottom: -15px;
    font-family: Poppins;
    font-weight: semibold;
    letter-spacing: -3px;
    text-shadow: 8px 8px #000000;
    position: absolute;
    top: 80px;
    left: -20px;
  }

  //space
  .hud-right-layout {
    width: 40%;
    height: 33%;
    justify-content: flex-end;
    //background-color: #000000;
    transform: scale(0.6);
  }

  //space
  .hud-middle-layout {
    width: 20%;
    height: 100%;
    justify-content: center;
    transform: scale(0.6);
  }

  //level display elements
  .hud-level-layout {
    width: 0px;
    height: 0px;
    transform: scale(0.6);
    background-color: #0000ff;
    position: absolute;
    bottom: 20;
    left: 20;
  }
  .hud-level-justbox {
    height: 200px;
    width: 1200px;
    position: absolute;
    //background-color: #000000;
    bottom: 0;
  }
  .hud-level-numbox {
    position: absolute;
    width: 150px;
    height: 150px;
    align-content: center;
    background-color: #009af2;
    border-radius: 10px;
    //display: inline-block;
    align-self: flex-end;
  }
  .hud-level-numtext {
    width: 100%;
    font-size: 144px;
    color: white;
    text-stroke: 0.5px black;
    text-align: center;
    font-family: Poppins;
    font-weight: semibold;
    letter-spacing: -3px;
    text-shadow: 8px 8px #000000;
    top: -35px;
  }
  .hud-level-leveltext {
    width: 100%;
    font-size: 90px;
    color: white;
    text-stroke: 0.5px black;
    text-align: left;
    left: 200px;
    top: 20px;
    font-family: Poppins;
    font-weight: semibold;
    letter-spacing: -3px;
    text-shadow: 8px 8px #000000;
    //display: inline-block;
    align-self: flex-end;
    padding-bottom: 30px;
  }

  //radar elements
  .hud-radar-layout {
    width: 100%;
    height: 100%;
    //justify-content: right;
    transform: scale(0.6);
  }
}
