UI_Base {

  .hud-base {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .center {
    justify-content: center;
    //background-color: #ff0000;
  }
  .left {
    //background-color: #ff0000;
    align-items: flex-start;
  }
  .right {
    //background-color: #ff0000;
    float: right;
  }
  .bottom {
    background-color: #ff0000;
  }

  //top and bottom half containers
  .hud-half {
    width: 100%;
    height: 50%;
    justify-content: center;
  }

  //containers within containers
  .hud-third {
    width: 100%;
    height: 100%;
  }

  //timer elements
  .hud-time-layout-container {
    width: 300px;
    height: 0px;
    //background-color: #ff0000;
    position: relative;
    transform: scale(1);
  }
  .hud-time-layout {
    width: 300px;
    height: 315px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    //background-color: #000000;
    //align-self: start;

  }
  .hud-time-buffer {
    height: 60px;
  }
  .hud-time-toptext {
    width: 100%;
    font-size: 60px;
    color: white;
    text-stroke: 0.5px black;
    text-align: center;
    bottom: 60px;
    font-family: Poppins;
    font-weight: semibold;
    letter-spacing: -3px;
    text-shadow: 8px 8px #000000;
    white-space: nowrap;
  }
  .hud-time-base {
    width: 300px;
    height: 255px;
    background-color: #009af2;
    border-radius: 30px;
    //margin-top: 60px;
    display: flex;
    flex-direction: column;
  }
  .hud-time-bigtime {
    width: 100%;
    font-size: 216px;
    color: white;
    text-stroke: 0.5px black;
    text-align: center;
    bottom: 110px;
    font-family: Poppins;
    font-weight: semibold;
    letter-spacing: -9px;
    text-shadow: 8px 8px #000000;
    white-space: nowrap;
  }
  .hud-time-smalltime {
    width: 100%;
    font-size: 60px;
    color: white;
    text-stroke: 0.5px black;
    text-align: center;
    bottom: 40px;
    font-family: Poppins;
    font-weight: semibold;
    letter-spacing: -3px;
    text-shadow: 8px 8px #000000;
    white-space: nowrap;
  }

  //score elements
  .hud-score-layout {
    width: 0px;
    height: 0px;
    //justify-content: flex-start;
    //display: flex;
    //flex-direction: column;
    transform: scale(1);
  }
  .hud-score-justbox {
    height: 200px;
    width: 442px;
    position: absolute;
    //background-color: #000000;
  }
  .hud-score-toptext {
    width: 100%;
    font-size: 90px;
    color: white;
    text-stroke: 0.5px black;
    text-align: left;
    //left: 60px;
    //top: 20px;
    font-family: Poppins;
    font-weight: semibold;
    letter-spacing: -3px;
    text-shadow: 8px 8px #000000;
    position: absolute;
    left: 40px;
    white-space: nowrap;
  }
  .hud-score-displaytext {
    width: 100%;
    font-size: 90px;
    color: white;
    text-stroke: 0.5px black;
    text-align: right;
    //bottom: -15px;
    font-family: Poppins;
    font-weight: semibold;
    letter-spacing: -3px;
    text-shadow: 8px 8px #000000;
    position: absolute;
    top: 80px;
    left: -20px;
    white-space: nowrap;
  }

  //killfeed?
  .hud-timefeed-layout {
    width: 0px;
    height: 0px;
    //justify-content: flex-end;
    //background-color: #000000;
    //transform: scale(1);
    //background-color: #ffffff;
    position: absolute;
    right: 0;
  }
  .hud-timefeed-layout-scalable {
    transform: scale(1);
  }
  .hud-timefeed-justbox {
    height: 800px;
    width: 500px;
    position: absolute;
    //background-color: #000000;
    //background-color: #ffffff;
    right: 40px;
    top: 40px;
    display: flex;
    flex-direction: column;
  }
  .hud-timefeed-item {
    width: 100%;
    height: 80px;
    background-color: #33333399;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  .hud-timefeed-icon {
    //Image.SetTexture("avatar:playersteamid")
    width: 60px;
    height: 60px;
    background-color: #ffffff;
    margin: 10px 8px 10px 10px;
    border-radius: 5px;
  }
  .hud-timefeed-nametext {
    font-family: Poppins;
    font-weight: semibold;
    font-size: 40px;
    width: 220px;
    padding: 10px 0;
    text-shadow: 3px 3px #000000;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .hud-timefeed-timetext {
    font-family: Poppins;
    font-weight: semibold;
    font-size: 40px;
    text-align: right;
    position: absolute;
    right: 20px;
    padding: 10px 0;
    text-shadow: 3px 3px #000000;
    color: white;
  }

  //space
  .hud-middle-layout {
    width: 20%;
    height: 100%;
    justify-content: center;
    transform: scale(1);
  }

  //level display elements
  .hud-level-layout {
    width: 0px;
    height: 0px;
    //transform: scale(1);
    //background-color: #0000ff;
    position: absolute;
    bottom: 20;
    left: 20;
    display: flex;
    flex-direction: column;
  }
  .hud-level-layout-scalable {
    transform: scale(1);
  }
  .hud-level-justbox {
    height: 200px;
    width: 1200px;
    position: absolute;
    //background-color: #000000;
    bottom: 0;
  }
  .hud-level-numbox {
    position: absolute;
    width: 150px;
    height: 150px;
    align-content: center;
    background-color: #009af2;
    border-radius: 10px;
    //display: inline-block;
    align-self: flex-end;
  }
  .hud-level-numtext {
    width: 100%;
    font-size: 144px;
    color: white;
    text-stroke: 0.5px black;
    text-align: center;
    font-family: Poppins;
    font-weight: semibold;
    letter-spacing: -3px;
    text-shadow: 8px 8px #000000;
    top: -35px;
    white-space: nowrap;
  }
  .hud-level-leveltext {
    width: 100%;
    font-size: 72px;
    color: white;
    text-stroke: 0.5px black;
    text-align: left;
    left: 160px;
    top: 36px;
    font-family: Poppins;
    font-weight: semibold;
    letter-spacing: -3px;
    text-shadow: 8px 8px #000000;
    //display: inline-block;
    align-self: flex-end;
    padding-bottom: 30px;
    white-space: nowrap;
  }

  //radar elements
  .hud-radar-layout {
    width: 100%;
    height: 100%;
    //justify-content: right;
    transform: scale(1);
  }

  .canwescalethesucker {
    //transform: scale(1);
    //background-color: #000000;
    position: absolute;
    left: 0px;
    bottom: 134px;
  }
  .canwescaletheothersucker {
    //transform: scale(1);
    //background-color: #000000;
    //position: absolute;
    //left: 0px;
    //top: 0px;
  }
}
