UI_Base {
  .hud-base {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  //top and bottom half containers
  .hud-half {
    width: 100%;
    height: 50%;
  }

  //timer elements
  .hud-time-layout {
    width: 20%;
    height: 34%;
    justify-content: center;
    transform: scale(0.6);
  }
  .hud-time-toptext {
    width: 100%;
    font-size: 60px;
    color: white;
    text-stroke: 0.5px black;
    text-align: center;
    bottom: 60px;
    font-family: Poppins;
    font-weight: semibold;
    letter-spacing: -3px;
    text-shadow: 8px 8px #000000;
  }
  .hud-time-base {
    width: 300px;
    height: 255px;
    background-color: #009af2;
    border-radius: 30px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
  }
  .hud-time-bigtime {
    width: 100%;
    font-size: 216px;
    color: white;
    text-stroke: 0.5px black;
    text-align: center;
    bottom: 110px;
    font-family: Poppins;
    font-weight: semibold;
    letter-spacing: -9px;
    text-shadow: 8px 8px #000000;
  }
  .hud-time-smalltime {
    width: 100%;
    font-size: 60px;
    color: white;
    text-stroke: 0.5px black;
    text-align: center;
    bottom: 40px;
    font-family: Poppins;
    font-weight: semibold;
    letter-spacing: -3px;
    text-shadow: 8px 8px #000000;
  }

  //score elements
  .hud-score-layout {
    width: 40%;
    height: 33%;
    justify-content: flex-start;
    //display: flex;
    //flex-direction: column;
    transform: scale(0.6);
  }
  .hud-score-justbox {
    height: 100%;
    width: 442px;
    display: flex;
    flex-direction: column;
  }
  .hud-score-toptext {
    width: 100%;
    font-size: 90px;
    color: white;
    text-stroke: 0.5px black;
    text-align: left;
    left: 60px;
    top: 20px;
    font-family: Poppins;
    font-weight: semibold;
    letter-spacing: -3px;
    text-shadow: 8px 8px #000000;
  }
  .hud-score-displaytext {
    width: 100%;
    font-size: 90px;
    color: white;
    text-stroke: 0.5px black;
    text-align: right;
    bottom: -15px;
    font-family: Poppins;
    font-weight: semibold;
    letter-spacing: -3px;
    text-shadow: 8px 8px #000000;
  }

  //space
  .hud-right-layout {
    width: 40%;
    height: 33%;
    justify-content: flex-end;
    //background-color: #000000;
    transform: scale(0.6);
  }

  //space
  .hud-middle-layout {
    width: 20%;
    height: 100%;
    justify-content: center;
    transform: scale(0.6);
  }

  //level display elements
  .hud-level-layout {
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    transform: scale(0.6);
  }
  .hud-level-numbox {
    position: absolute;
    width: 150px;
    height: 150px;
    align-content: center;
    background-color: #009af2;
    border-radius: 10px;
    display: inline-block;
    align-self: flex-end;
    bottom: 20px;
    left: 20px;
  }
  .hud-level-numtext {
    width: 100%;
    font-size: 144px;
    color: white;
    text-stroke: 0.5px black;
    text-align: center;
    font-family: Poppins;
    font-weight: semibold;
    letter-spacing: -3px;
    text-shadow: 8px 8px #000000;
    top: -35px;
  }
  .hud-level-leveltext {
    width: 100%;
    font-size: 90px;
    color: white;
    text-stroke: 0.5px black;
    text-align: left;
    left: 220px;
    top: 20px;
    font-family: Poppins;
    font-weight: semibold;
    letter-spacing: -3px;
    text-shadow: 8px 8px #000000;
    display: inline-block;
    align-self: flex-end;
    padding-bottom: 50px;
  }

  //radar elements
  .hud-radar-layout {
    width: 100%;
    height: 100%;
    justify-content: right;
    transform: scale(0.6);
  }
}
